* {
  margin: 0;
}

body {
  width: 720px;
  text-align: center;
  font-family: 'Quattrocento', serif;
}

.hero {
  background-image: url('/assets/images/hburg-pic.jpeg');
  background-size: cover;
  height: 25rem;
  color: #f1faee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#greet {
  background-color: rgb(96, 121, 145);
  text-shadow: 0 0 4px black;
  padding: .5rem 1rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
}

#logline {
  margin-top: 1rem;
  background-color: rgb(41, 30, 66);
  font-size: 1.2rem;
  text-shadow: 0 0 4px black;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-weight: 500;
  width: 450px;
}

.bullet-pts {
  background-color: rgba(120, 126, 63, 0.552);
}

.activities {
  display: flex;
  justify-content: space-evenly;
  height: 378px;
  line-height: 18px;
}

.highlights {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.column {
  width: 183px;
}

.card-wrapper{
  margin-top: 4rem;
}