* {
  margin: 0;
}

body {
  width: 720px;
  text-align: center;
  font-family: 'Quattrocento', serif;
}

.hero {
  background-image: url('/assets/images/hburg-pic.jpeg');
  background-size: cover;
  height: 25rem;
  color: #f1faee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#greet {
  background-color: rgb(96, 121, 145);
  text-shadow: 0 0 4px black;
  padding: .5rem 1rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
  border: .2rem solid rgb(78, 81, 140);
}

#logline {
  margin-top: 1rem;
  background-color: rgb(41, 30, 66);
  font-size: 1.2rem;
  text-shadow: 0 0 4px black;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-weight: 500;
  width: 450px;
  border: .2rem solid rgb(96, 121, 145);
}

.bullet-pts {
  background-color: rgba(120, 126, 63, 0.552);
  color: rgb(41, 30, 66);
  margin-bottom: 4rem;
}

#activity-header {
  padding-top: 2.5rem;
}

.activities {
  display: flex;
  justify-content: space-evenly;
  line-height: 18px;
  padding: 2.5rem 0;
  align-items: baseline;
}

.highlight-img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: .2rem solid rgb(78, 81, 140);
}

.image-header {
  padding: 1.2rem 0;
  font-size: 1rem;
}

.column {
  width: 183px;
}

.card{
  width: 400px;
  display: inline-flex;
  background-color: rgb(92, 136, 194);
  padding: 23px 13px;
  border-radius: .8rem;
  border-right: .3rem solid rgb(182, 139, 119);
  border-bottom: .3rem solid rgb(182, 139, 119);
}

#guide-photo {
  width: 180px;
  box-shadow: 1rem 1rem 1rem black;
  border-radius: .3rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1rem;
}

.italic {
  font-style: italic;
}